
@font-face {
    font-family: pop-b;
    src: url(../../public/font/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: pop-m;
    src: url(../../public/font/Poppins/Poppins-Medium.ttf);
}
@font-face {
    font-family: pop-el;
    src: url(../../public/font/Poppins/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: pop-th;
    src: url(../../public/font/Poppins/Poppins-Thin.ttf);
}