* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: pop-m;
}
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.heading{
  padding-top: 50px;
  padding-bottom: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  p{
    font-family: pop-el;
    font-size: 20px;
  }
}